<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>title</title>
  </head>
  <body>
    <% # app/views/posts/show.html.erb %>
    <h1><%= @post.title %></h1>
    <p><%= @post.description %></p>
  </body>
</html>
